.DS_Store
.AppleDouble
.LSOverride

*.exe
*.out
*.app
*.dmg
*.bin

build/
dist/
obj/
out/
bin/

*.swp
*.swo
.idea/
.vscode/

*.class
*.o
*.so
*.a

*.iml
.vscode/
*.sublime-workspace

Thumbs.db
Desktop.ini
